/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.custom-full-width {
  width: 100%;
}

table {
  width: 100%;
}

.form-container {
  padding: 10px 200px;
}

button {
  margin-bottom: 18px !important;
}

